.App {
  text-align: center;
}

.red{
  color: red;
}
.bold{
  font-size: 26px;
}
.green{
  color: green;
}

input:hover{
  background-color:whitesmoke;
}
.title:hover{

  background-color: yellowgreen;
  transition-delay: 0.5s;
  color:white;
}
.title{
  margin:auto;
  width: 100px;
  border-radius: 10px;
  transition-delay: 0.5s;
  /* transition:0.5s background-color;
  transition:0.5s color; */
}